.container {
  // width: 100%;
}

.label {
  margin-bottom: 24px;
  color: #7D7D7D;
}

.button {
  height: 56px;
  width: 148px;
  left: 376px;
  top: 4708px;
  border-radius: 32px;
  background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.button:hover {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
}

.button:active {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.button:disabled {
  background: #CBCBCC;
  cursor: default;
}

.hover {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
}

.active {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}