h3 {
  margin-bottom: 32px;
}
.container,
.table,
.column,
.row {
  display: grid;
}

.container {
  grid-template-rows: 3fr;
  margin-bottom: 64px;
}

.table {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 48px;
}

.column {
  grid-row-gap: 8px;
}

.row {
  grid-column-gap: 32px;
}

.head {
  color: #7D7D7D;
}