.container {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
}

.radio {
  border-radius: 50%;
}

.radio {
  position: relative;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: .2s;
}

.radio:hover {
  opacity: 1;
  border-color: #3E29E3;
  transition: .5s;
}

.paragraph {
  opacity: 0.8;
  color: #1B1B1B;
}

.hover,
.active {
  border-color: #3E29E3;
}

.activeInner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #3E29E3;
  border-radius: 50%;
}