@font-face {
  font-family: 'GraphikLCG';
  src: 
    url('../fonts/GraphikLCGRegular.ttf'), 
    url('../fonts/GraphikLCGBold.ttf'), 
    url('../fonts/GraphikLCGMedium.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'GraphikLCG', 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  color: #1B1B1B;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

.p_18 {
  font-size: 18px;
  line-height: 28px;
}

.p_16 {
  font-size: 14px;
  line-height: 20px;
}
.p_14 {
  font-size: 14px;
  line-height: 20px;
}

.wrapper {
  padding: 40px 64px 48px;
}