.headerLead {
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  justify-content: space-between;
}

.container3columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.container2columns {
  grid-template-columns: 1fr 1fr;
}

.container1columns {
  grid-template-columns: 1fr;
}
.section {
  margin-bottom: 64px;
}

@media (max-width: 768px ) {
  .container3columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 320px ) {
  .container3columns, .container2columns {
    grid-template-columns: 1fr;
  }
}