.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

.burger {
    position: relative;
    width: 32px;
    height: 10px;
    cursor: pointer;
}

.lineTop,
.lineBootom,
.lineTopActive,
.lineBootomActive {
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    transition: .4s ease-out;
}

.lineTop {
    width: 32px;
}

.lineBootom {
    top: 10px;  
    width: 24px;
}

.lineTop,
.lineBootom{
    background: #1B1B1B;
}

.lineTopActive,
.lineBootomActive {
    top: 0;
    background: #fff;
    width: 24px;
}

.lineTopActive {
    transform: rotate(45deg);
}

.lineBootomActive {
    transform: rotate(135deg);
}

.containerName {
    margin-left: 16px;
}

.surname {
    color: #1B1B1B;
}

.name {
    color: #7D7D7D;
}
