.container {
  position:-webkit-sticky; 
  position:sticky; 
  top: 20px;
  margin-top: 216px;
  height: max-content;
}

.ul {
  list-style-type: none;
}

.text {
  margin-bottom: 16px;
}

.text a {
  color: #7D7D7D;
}

.text:last-child {
  margin-bottom: 0;
}

.text:hover a {
  color: #1B1B1B;
  cursor: pointer;
}

.active a {
  color: #3E29E3;
}